@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: black;
}

header h1 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  display: inline-block;
  bottom: 35px;
  margin-left: 10px;
}

nav {
  background-color: #e75a5a;
  color: black;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.busqueda {
  background-color: #f1acac;
  color: black;
  padding: 5px;
  font-weight: 400;
  border-radius: 5px;
}
.container .peliculas_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin: 2rem;
}

.peliculas_main h2 {
  color: #e75a5a;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Krona One", sans-serif;
  margin: 20px;
  margin-bottom: 20px;
  align-self: first baseline;
}

.peliculas_main_grid {
  background-color: #faf5fa09;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin: 2rem;
}

.peliculas_main img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

.peliculas_main_grid {
  display: inline-block;
}

.peliculas_main_grid .card {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}

.card img {
  width: 100%;
  height: 700px;
  border-radius: 5px;
}

.peliculas_main_grid .card button {
  background-color: #e75a5a;
  color: white;
  width: 50%;
  align-self: center;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.miLista h2 {
  display: flex;
  justify-content: center;
  color: #e75a5a;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Krona One", sans-serif;
  margin: 20px;
  margin-bottom: 20px;
  align-self: first baseline;
}

.Contacto_container h2 {
  display: flex;
  justify-content: center;
  color: #e75a5a;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Krona One", sans-serif;
  margin: 20px;
  margin-bottom: 20px;
  align-self: center;
}

.Contacto_container {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #e75a5a;
  font-weight: 400;
  text-align: center;
  padding: 15px;
}
