/*
*{
    margin: 0%;
    padding: 0%;
}*/

.encabezado {
  background-image: url(./Imagenes/AlexTerrible.jpg);
  background-color: black;
  background-size: cover;
  padding: 1rem;
  height: 50vh;
}

.menuSuperior {
  list-style: none;
  text-align: center;
}

.menuSuperior li {
  display: inline-block;
}

.menuSuperior a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 4rem;
  font-size: 1.4rem;
}

body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
}

.texto {
  color: white;
}

/*Seccion inicio*/

/*Servicios*/

/*Contacto*/

/*Entrenemos*/

.cajaPadreFotos {
  background-color: black;
  display: flex;
}

.contenido {
  background-color: black;
  padding: 2rem;
  width: 70%;
}

.contenido_imagen {
  background-color: black;
  width: 80%;
}

.contenido_imagen img {
  margin-top: 10px;
  width: 90%;
  box-shadow: 5px 5px red;
  border-radius: 10px;
}

.cajaPadreVideo {
  display: flex;
  background-color: black;
  padding: 1rem;
  width: 70%;
}

.cajaVideo {
  background-color: black;
  padding: 1rem;
  width: 95%;
}

.contenidoVideo {
  background-color: black;
  width: 50%;

  box-shadow: 5px 5px red;
  border-radius: 10px;
}

/*Rutinas*/

.caja_padre {
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.box_model {
  background-color: aliceblue;
  color: black;
  box-shadow: 5px 5px red;
  border-radius: 20px;
  width: 250px;
  height: auto;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 20px;

  padding: 10px 40px 30px 20px; /*defino los 4 lados en una linea, sentido las agujas del reloj*/

  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 20px;

  margin: 10px 40px; /* arriba y abajo*/
}

.box_model2 {
  background-color: aliceblue;
  color: black;
  box-shadow: 5px 5px red;
  border-radius: 20px;
  width: 250px;
  height: auto;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 20px;

  padding: 10px 40px 30px 20px;

  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 20px;

  margin: 10px 40px;
}

/*Footer*/
.footer {
  color: black;
  background-color: white;
  width: auto;
  height: 5rem;
}

.link-arriba a {
  color: black;
  float: right;
}

/*Mobile first*/

@media (max-width: 551px) {
  .menuSuperior {
    display: none;
  }

  .cajaPadreFotos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .caja_padre {
    flex-direction: column;
    align-items: center;
  }

  .cajaPadreVideo {
    flex-direction: column;
  }
}

@media (min-width: 600px) {
}

/*Tableta*/
@media (min-width: 768px) {
  .menuCelular {
    display: none;
  }
  .encabezado {
    background-image: url(./Imagenes/AlexTerrible.jpg);
    background-color: black;
    background-size: cover;
    padding: 1rem;
    height: 50vh;
  }

  .menuSuperior {
    list-style: none;
    text-align: center;
  }

  .menuSuperior li {
    display: inline-block;
  }

  .menuSuperior a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 4rem;
    font-size: 1.4rem;
  }

  body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
  }

  .texto {
    color: white;
  }

  /*Pantallas grandes*/
  @media (min-width: 1024px) {
    .cajaPadreFotos {
      display: none;
    }
  }

  /*Seccion inicio*/

  /*Servicios*/

  /*Contacto*/

  /*Entrenemos*/

  .cajaPadreFotos {
    background-color: black;
    display: flex;
  }

  .contenido {
    background-color: black;
    padding: 2rem;
    width: 70%;
  }

  .contenido_imagen {
    background-color: black;
    width: 80%;
  }

  .contenido_imagen img {
    margin-top: 10px;
    width: 90%;
    box-shadow: 5px 5px red;
    border-radius: 10px;
  }

  .cajaPadreVideo {
    display: flex;
    background-color: black;
    padding: 1rem;
    width: 70%;
  }

  .cajaVideo {
    background-color: black;
    padding: 1rem;
    width: 95%;
  }

  .contenidoVideo {
    background-color: black;
    width: 50%;

    box-shadow: 5px 5px red;
    border-radius: 10px;
  }

  /*Rutinas*/

  .caja_padre {
    background-color: black;
    display: flex;
    justify-content: space-around;
  }

  .box_model {
    background-color: aliceblue;
    color: black;
    box-shadow: 5px 5px red;
    border-radius: 20px;
    width: 250px;
    height: auto;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 20px;

    padding: 10px 40px 30px 20px; /*defino los 4 lados en una linea, sentido las agujas del reloj*/

    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px;

    margin: 10px 40px; /* arriba y abajo*/
  }

  .box_model2 {
    background-color: aliceblue;
    color: black;
    box-shadow: 5px 5px red;
    border-radius: 20px;
    width: 250px;
    height: auto;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 20px;

    padding: 10px 40px 30px 20px;

    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px;

    margin: 10px 40px;
  }

  /*Footer*/
  .footer {
    color: black;
    background-color: white;
    width: auto;
    height: 5rem;
  }

  .link-arriba a {
    color: black;
    float: right;
  }
}
